.bar li {
  display: block;
  float: left;
  width: 10%;
  padding-left: 50px;
  text-align: center;
  text-decoration: none;
}

.bar::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

 #icon_white {
   position: absolute;
   top: 0px;
   left: 80px;
   width: 1.5%;
 }

 #icon{
   position: absolute;
   top: 0px;
   left: 65px;
   width: 52px;
 }

 .footer nav {
  float: left;
  width: auto;
  padding-left: 100px;
  text-decoration: none;  
  font-size: 110%;
}
 
.footer {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  background-color: #f0f0f0 ; 
  padding: 20px; 
  grid-template-rows: auto;
}

.footer ul {
  background-color: #f0f0f0; 
  list-style: none; 
  padding: 0; 
}

.footer ul a {
  text-decoration: none; 
}

.footer {
  margin: 0;
  padding-left: 0;
}

#ending {
  font-size: 14px;
  padding-left: 90px;
  grid-column: 1 / span 5;
}

@media only screen and (max-width: 1024px) {
  .bar li {
    display: block;
    float: left;
    width: 10%;
    padding-left: 40px;
    text-align: center;
    text-decoration: none;
  }
  
  .bar::after {
    content: "";
    display: table;
    clear: both;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
   #icon_white {
     position: absolute;
     top: 0px;
     left: 80px;
     width: 1.5%;
   }
  
   #icon_black {
     position: absolute;
     top: 0px;
     left: 50px;
     width: 52px;
   }
  
   .footer nav {
    float: left;
    width: auto;
    padding-left: 70px;
    text-decoration: none;  
  }
   
  .footer {
    display: grid;
    grid-template-columns: repeat(5, 190px);
    background-color: #f0f0f0 ; 
    padding: 20px; 
    grid-template-rows: auto;
  }
  
  .footer ul {
    background-color: #f0f0f0; 
    list-style: none; 
    padding: 0; 
  }
  
  .footer ul a {
    font-size: 15px;
    text-decoration: none; 
  }
  
  .footer {
    margin: 0;
    padding-left: 0;
  }

  #ending {
    font-size: 14px;
    padding-left: 65px;
    grid-column: 1 / span 5;
  }
}

.footer a:link {
  color: black;
}

.footer a:active {
  color: black;
}


.footer a:hover {
  color: black;
  text-decoration: underline;
}

.footer a:visited{
  color: black;
}

.footer a {
  color: black;
}

.bar a:hover {
  text-decoration: underline;
}

